.tab-content{    border: 1px solid rgb(222, 226, 230); margin-top: -1px; padding: 1rem;}

fieldset{border: 1px solid #eee; border-radius: .5rem; padding: 1rem; }
/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (min-width: 768px) and (max-width: 1023px){
    
}

/**********************************************************
/ Smartphone layout
/*********************************************************/
@media screen and (max-width: 767px){
    
}