.tab-content{    border: 1px solid rgb(222, 226, 230); margin-top: -1px; padding: 1rem;}

fieldset{border: 1px solid #eee; border-radius: .5rem; padding: 1rem; }
.form-group{
    .form-label{font-weight: 500;}
}

.grid-3 {
    display: grid;
    grid-gap: 1rem; 
    grid-template-columns: 33% 33% 33%;
}

.grid-4 {
    display: grid;
    grid-gap: 1rem; 
    grid-template-columns: 25% 25% 25% 25%;
}

.grid-assignments {
    display: grid;
    grid-gap: 1rem; 
    grid-template-columns: 50px auto auto auto;
    align-items: center;
}

.grid-activity {
    background-color: #fff;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto 240px;
    align-items: center;
}

.badge {
    padding: 0.375rem 0.75rem;
    font-size: .9375rem;
    font-weight: normal;
    color: #fff;
}

button.dropdown-toggle {
    height: 40px;
}

/**********************************************************
/ tablets layout
/*********************************************************/
@media screen and (min-width: 768px) and (max-width: 1023px){

    .grid-3, .grid-4 {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}

/**********************************************************
/ Smartphone layout
/*********************************************************/
@media screen and (max-width: 767px){

    .grid-3, .grid-4 {
        display: grid;
        grid-template-columns: auto;
    }

    .d-block-mobile {
        display: block !important;
    }

    .w-100-mobile {
        width: 100% !important;
    }

    .grid-assignments {
        display: grid;
        grid-template-columns: 50px auto;
    }
    .grid-activity {
        grid-template-columns: auto auto;
    }
}